<header>
    <h1>Pedidos</h1>
</header>
<section>
    <section class="btn-ordersBreakfast">
        <button type="button">Desayuno</button>
        <button type="button">Almuerzo y cena</button>
    </section>
    <figure class="menuBreakfast">
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/2007/2007832.png">
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/8433/8433117.png">
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/8433/8433104.png">
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/1625/1625062.png">
        </div>
    </figure>
</section>